/* Start Variables */
:root {
  --main-color: #EA6D27;
  --text-main-color: #101A24;
  --text-secondry-color: #101A24;
  --section-padding: 60px;
  --section-background: #eeeeee;
  --main-duration: 0.5s;
  --main-border: 1px solid rgba(16, 26, 36, 0.20);
}

/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


/* End Global Rules */

/* start component */
.menu-btn {
  background-color: black;
  color: #FFF;
  text-align: center;
  font-family: David Libre;
  font-size: 15px;
  padding: 15px 30px;
  font-style: normal;
  font-weight: 500;
  border-radius: 15px 0;
  margin-right: 25px;
}

.book-btn {
  padding: 15px 30px;
  background-color: var(--main-color);
  color: #FFF;
  border-radius: 15px 0;
  text-align: center;
  font-family: David Libre;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;


}

/* end component */

/* start header */
header {
  padding: 20px;
  position: absolute;
  width: 100%;
  z-index: 2;

}

header .container {
  position: relative;
  display: flex;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
}

header .container .logo img {
  height: 40px;
}

header nav {
  display: flex;
  align-items: center;

}

header nav .toggle-menu {
  font-size: 22px;
}

header nav ul {
  display: flex;
  margin-right: 30px;
}

header nav ul li a {
  padding: 30px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #101A24;
  cursor: pointer;
}

header nav ul li a:hover {
  border-bottom: 1px solid var(--main-color);
}

header nav .booktbl a {
  padding: 16px 32px;
  background-color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 15px 0;
}



@media (min-width:767px) {
  header nav .toggle-menu {
    display: none;
  }
}

@media (max-width:767px) {


  header nav ul {
    display: none;

  }

  header .container .booktbl a {
    padding: 10px;
    font-size: 14px;
    margin-left: 30px;
  }

  header .container nav .toggle-menu:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 /40%);
    text-align: center;

  }

  header nav ul li {
    padding: 20px !important;
  }

  header nav ul li a {
    color: white;
    font-size: 18px;
  }
}

/* end header */
/* Start landing */
.landing {
  position: relative;
  height: 100vh;
  z-index: -1;
}

.landing .crcl {
  display: flex;
  position: relative;

}

.landing .crcl .div1,
.landing .crcl .div2,
.landing .crcl .div3 {
  position: absolute;
  width: 960px;
  height: 960px;
  border: var(--main-border);
  flex-shrink: 0;
  border-radius: 960px;
}

.landing .crcl .div1 {
  top: -580px;
  left: -530px;

}

.landing .crcl .div2 {
  top: -512px;
  left: -582px;
}

.landing .crcl .div3 {
  top: -498px;
  left: -520px;
}


.promo {
  position: absolute;
  top: 200px;
  width: 100%;
}

.promo .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 40px;
}

.promo .content h4 {
  text-transform: uppercase;

}

.promo .container .content h2 {
  color: #101A24;

  font-family: David Libre;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}

.promo .container .content p {
  color: #5C6574;
  font-weight: 400;
  line-height: 2;
  width: 376px;
  height: 115px;

}

.promo .container .content .links {
  margin: 80px 0;

}

.promo .container .content .social i {
  font-size: 20px;
  border: 1px solid black;
  padding: 10px 13px;
  margin-right: 15px;
  border-radius: 60px;
}

.promo .container .art {
  position: relative;

}


.promo .container .art .vectors svg {
  height: 180px;
  opacity: 30%;
  z-index: -1;
  position: absolute;
}

.promo .container .art .vectors .svg1 {
  top: 0;
  left: 0;
}

.promo .container .art .vectors .svg2 {
  top: 0;
  right: 0;
}


.promo .container .art .vectors .svg3 {
  bottom: 125px;
  right: -9px;
}

.promo .container .art .image {
  position: relative;
  margin: 20px;
  height: 100%;
}

.promo .container .art .image .main-dish {
  position: absolute;
  height: 500px;
  border-radius: 80px 10px;
  left: 15%;
  top: 5%;
}

.promo .container .art .image .side-dish {
  position: absolute;
  bottom: 117px;
  left: -113px;
  height: 300px;
}

@media (max-width:676px) {
  .promo .container .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }

  .promo .container .content h2 {
    width: 100%;
    font-size: 20px;
    ;
  }

  .promo .container .content p {
    width: 100%;
  }

  .promo .container .art .image {
    display: none;
  }

  .promo .container .content h2 {
    color: #101A24;
    font-family: David Libre;
    font-size: 40px;
    font-style: normal;
    font-weight: 7;
    line-height: 72px;
  }
}

/* End header */

/* start dishes */
.special {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);

  position: relative;
}

.special .container .tital {
  text-align: center;
  margin-bottom: 200px;
}

.special .container .tital h2 {
  font-family: Daivd Libre;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  color: var(--text-main-color);
}

.special .container .tital p {
  width: 500px;
  margin: 10px auto;
  text-align: left;
  font-size: 16px;
  line-height: 2;
}

.special .container .dishes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 150px;
}

.special .container .dishes .box {
  position: relative;
  text-align: center; 
  border: 3px solid #fff;
  padding: 20px 0;
  border-radius: 20% 0;
  width: 265px;
  height: 309px;
}
.special .container .dishes .active {
 background-color: #fff;
}

.special .container .dishes .box .image {
  position: absolute;
  top: -100px;
  left: 40px;
  height: 400px;
}

.special .container .dishes .box span {
  position: absolute;
  top: 10%;
  right: -10%;
  background-color: var(--text-main-color);
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  padding: 8px;
  border-radius: 60px;
  padding: 15px;
}

.special .container .dishes .box h5 {
  color: var(--text-main-color);
  font-family: David Libre;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-top: 80px;
}

.special .container .dishes .box p {
  width: 100%;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  line-height: 2;
}

/* End dishes */

/* start Welcome */
.welcome {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) *2);
  background-color: var(--section-background);
}

.welcome .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.welcome .image {
  position: relative;
}

.welcome .image img {
  height: 450px;
}

.welcome .image .leafs {
  position: absolute;
  width: 100%;
  height: 100%;

}

.welcome .image .leafs img {
  position: absolute;
  height: 90px;
}

.welcome .image .leafs .leaf1 {
  left: 5%;
  bottom: 50%;
}

.welcome .image .leafs .leaf3 {
  right: 53px;
  top: 78px;
}


.welcome .image .leafs .leaf2 {
  left: 63px;
  bottom: 26px;
}

.welcome .container .content {
  padding: 20px;

}

.welcome .container .content h2 {
  color: #101A24;
  font-family: David Libre;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
}

.welcome .container .content p {
  color: #5C6574;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 50px;
}

/* end Welcome */

/* start chef */
.chef {
  padding-top: calc(var(--section-padding) * 1.5);
  padding-bottom:  calc(var(--section-padding) * 2);
}

.chef .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 50px;

}
.chef  .svg {
  position: absolute;
  
}
.chef .container .tital {
  padding-top: var(--section-padding);
  position: relative;
  overflow: hidden;
}



.chef .container .tital h2 {
  color: #101A24;
  font-family: David Libre;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
}

.chef .container .tital p {
  color: #5C6574;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 20px;
}

.chef .content .opt {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 30px;
}

.chef .content .opt ul{
  padding-bottom: 20px;
}
.chef .content .opt ul li {
  padding: 15px 0;
  line-height: 1.8;
  position: relative;
}

.chef .content .opt ul li::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 25px;
  position: absolute;
  top: 20px;
  left: -25px;
  color: var(--main-color);

}

.chef .container .image {
  margin:auto; 
}

/* End chef */

/* Start reviews */

.reviews{
  padding-top: calc(var(--section-padding)* 1.5);
  background-color: var(--section-background);
  position: relative;
 height: 100vh;
 overflow: hidden;
}

.reviews svg{
  position: absolute;
}

.reviews .content{
  text-align: center;
}

.reviews .content .title h2{
  color: #101A24;
    font-family: David Libre;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
}

.reviews .content .title p{
  color: #5C6574;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 20px;
    width: 400px;
    margin: 0 auto 100px;
}
.reviews .content .review {
  display: flex;
  flex-basis: 50%;
  
}
.reviews .content .review .box{
  position: relative;
  background-color: #fff;
  padding: 15px;
  width: 639px;
  height: 391px;
  margin: 0 auto;
  border-radius: 120px 40px;
  left: 25%;
}

.reviews .content .review .box .image{
  position: absolute;
  top: -50px;
  right: 50%;
  transform: translateX(50%);
}

.reviews .content .review .box .image img{
  border-radius: 50%;
}

.reviews .content .review .box .image .star{
  position: relative;
}

.reviews .content .review .box .image .star ul{
  display: flex;
  position: absolute;
  left: -110px;
}
.reviews .content .review .box .image .star i{
  color: #FB0;
  margin: 0 5px;  
}

.reviews .content .review .box .text{
 width: 100%;
 
 margin: 20% auto;
}

.reviews .review .box .text p{
  color: #5C6574;
  font-family: Inter;
  line-height: 2;
  margin: 0;
}

.reviews .review .box .text h4{
  color: #101A24;
  font-family: Inter;
  font-size: 17px;
  margin: 20px 0 0;
}

.reviews .dot ul{
  position: absolute;
  display: flex;
  bottom: 30px;
  transform: translateX(-50%);
  left: 50%;
  
}

.reviews .dot ul li{
  width: 10px;
    height: 10px;
    background-color: #999;
    border-radius: 50%;
    margin-left: 30px;
    cursor: pointer;
}

.reviews .dot ul li.active{
  background-color: var(--main-color);
}
/* End reviews */

